@charset "utf-8";
body {margin: 0px;padding: 0px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333;}

h1, h2, h3, h4, h5, h6, p, span, a, form, label, checkbox, select, ol, ul, li, strong{margin:0px; padding:0px;}

a{ text-decoration:none;}
img{ border:none;}
a,img{ border:none;}

/****** main divs ******/
#main{ width:100%; float:left;}
#header{ width:100%; float:left; background: url(/images/image.png) center top no-repeat}
#section{ width:100%; float:left;}
#footer{ width:100%; float:left;}
.wrap{ width:1164px; margin:0 auto 0 auto;}
/****** main divs ******/

.nav{ width:100%; float:left; padding:0 0 0 0;}

.navigation{ width:100%; float:left; padding:0 0 0 0;}
.logo{ width:25%; float:left; font-size:35px; color:white; text-shadow: #000 0 1px 1px; font-weight: bold;
	font-family:"tekton pro"; text-align:center; padding:20px 0 0 0;}
.navigation ul{ list-style:none; margin:0px; padding:0px;}
.navigation ul li { float:left; padding:30px 0 0 0;}
.navigation ul li a{ color:#FFF; text-shadow:#000 0 1px 1px; padding:10px 15px 10px 15px; font-size:23px;
     font-family:"Myriad Pro"; border-radius: 25px; font-weight:normal; text-transform:capitalize;
      border:transparent solid 2px;}
.navigation ul li a:hover{ color:#000; background-color:#00b894; border:black solid 1px;}

.our{ width:100%; float:left; padding:0 0 0 0;}
.option{ width:100%; text-align:center; font-family:"Tekton Pro"; padding:180px 5% 0 0;}
.option h1{ font-size:50px; font-weight:bold; color:#FFF; text-shadow: #000 0 1px 1px;}
.option h2{ font-size:40px; font-weight:bold; color:#FFF; text-shadow: #000 0 1px 1px; padding:32px 0 32px 0;}
.option h3{ font-size:80px; font-weight:bold; color:#FFF; text-shadow:#000 0 1px 1px;}
.option a{ background-color:#fdc02a; font-family:"Tekton Pro"; font-size:22px; text-align:center; border-radius:50px;
     margin:18px auto; line-height:25px; padding:10px 15px 10px 15px; display:block; 
     font-weight:bold; color:#FFF; text-shadow: #000 0 1px 1px; width:20%;} 
.option a:hover{ color: #000; background-color:#00b894; border:black solid 1px;}

.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894;
}

@keyframes  changetext{
	0%{content: "GUJARAT"}
	20%{content: "UTTHER PRADESH"}
	35%{content: "DELHI"}
	60%{content: "HARYANA"}
	80%{content: "PUNJAB"}
	100%{content: "HIMACHAL PRADESH"}
}